<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{title}}</h2>
      <p class="text-muted">By {{user.username}} on {{format_date createdAt}}</p>
      <p class="card-text">{{content}}</p>
    </div>
  </div>
</div>